<!-- If the add-in embedded browser version is Internet Explorer -->
<div class="main_content content-main" style="background-color: #ffffff;">
  <div style="text-align: center;  line-height: normal;padding:10px;">
    <p>
      We’ve detected that you are using an older version of office with an unsupported browser [IE].
    </p>

    <p>Please follow these steps to install the latest supported browser: </p>
    <p>1. Click <a target="_blank" style="color:blue;text-decoration:underline !important;"
                   href='https://developer.microsoft.com/en-us/microsoft-edge/webview2/'>here</a> to go the Microsoft
      Edge WebView2
      browser page.
    </p>
    <p>2. Download the <b>Evergreen Bootstrapper</b> from the above page and install the file.</p>
    <p>3. Once the installation process is completed, please close and restart Microsoft Word and open the add-in again.
    </p>
  </div>
</div>
