<!-- Splash Screen: If the add-in is accessed in MS Word Desktop version [Not in web browser] -->
<div class="main_content" style="text-align:center;">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <div class="container content-main">
    <div class="center-content-container " style="margin-top: -10px;">
      <button [disabled]="disabled" (click)="Login()" class="button primary"> Continue to Login Screen</button>
    </div>
  </div>
</div>

